#!/bin/bash

TestSchema=(
        "cnn-cifar"
        "cnn-mnist"
        "mlp-mnist"
)

IS_IID=true

FADE=0.75

TrainDataSize=(
        "3000"
        "3000"
        "3000"
        "3000"
        "3000"
)

TestDataSize=(
        "1000"
        "1000"
        "1000"
        "1000"
        "1000"
)

